[defaults]
callback_result_format  = yaml
collections_path        = venv
inventory               = inventory
no_target_syslog        = true
retry_files_enabled     = false
roles_path              = venv/roles

[diff]
always                  = true
