[bot]
id = {{ inventory_hostname | to_json }}
nickname = {{ inventory_hostname | to_json }}

[irc]
servers = {{ flynet_irc_servers | to_json }}
connect_timeout_seconds = 30
verify_tls = false

[nats]
servers = {{ flynet_nats_servers | to_json }}

[authorization]
session_ttl_seconds = 3600

[coordination]
maintenance_interval_seconds = 3
presence_ttl_seconds = 15
